@page
@model CafePOS.Web.Pages.PDS.IndexModel
@{
    ViewData["Title"] = "Màn hình PDS - Điều phối pha chế";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PDS/Index.css" asp-append-version="true" />
}

<div class="pds-container">
    <h1>Màn hình PDS</h1>
    <p>Giao diện điều phối chế biến dành cho Barista và Pastry Staff.</p>
</div>

@section Scripts {
    <script src="~/js/PDS/Index.js" asp-append-version="true"></script>
}
