@page
@model CafePOS.Web.Pages.POS.IndexModel
@{
    ViewData["Title"] = "Màn hình POS - Bán hàng tại quầy";
}

@section Styles {
    <link rel="stylesheet" href="~/css/POS/Index.css" asp-append-version="true" />
}

<div class="pos-container">
    <h1>Màn hình POS</h1>
    <p>Giao diện bán hàng tại quầy dành cho CSR và Shift Leader.</p>
</div>

@section Scripts {
    <script src="~/js/POS/Index.js" asp-append-version="true"></script>
}
