@page
@model CafePOS.Web.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Đặt hàng Online - Khách hàng";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Customer/Index.css" asp-append-version="true" />
}

<div class="customer-container">
    <h1>Trang đặt hàng CafePOS</h1>
    <p>Chào mừng bạn đến với trang đặt món của quán. Hãy thưởng thức ly nước tuyệt vời nhất!</p>
</div>

@section Scripts {
    <script src="~/js/Customer/Index.js" asp-append-version="true"></script>
}
